nav {
	/*background-color: #011F5B; #25519E; supreme #E91301; facebook #4267B2;*/
    background-color: #4267B2;
    border-bottom: 1px solid #28487D;
    height: 43px;
    line-height: 43px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 43px;
    line-height: 43px;
}

nav .button-collapse i {
    height: 43px;
    line-height: 43px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 43px;
        line-height: 43px;
    }
}

img {
    width: 25px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

i {
    padding-left: 10px;
    margin-right: 10px !important;
    color: #0F1524;
}

li > a {
    height: 42px;
}

.brand-logo {
    font-family: 'Merriweather', serif;
	font-weight: 700;
}
