<nav class="z-depth-0">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo white-text hide-on-small-only">
			<img class="left" src="assets/img/logo_2.png">
			<!--<i class="material-icons left white-text">wb_incandescent</i>-->
			Team Practice Videos
		</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li>
				<a href="#" (click)="nameInput()">
					<i class="material-icons">collections</i>
				</a>
			</li>
			<li>
				<a href="#" (click)="nameInput()">
					<i class="material-icons">shopping_cart</i>
				</a>
			</li>
			<li>
				<a href="#">
					<i class="material-icons">queue_music</i>
				</a>
			</li>
			
			<li>
				<a href="/login" class="icon-color">Sign In</a>
			</li>

			<li>
				<a href="#" class="icon-color" (click)="logOut()">Log Out</a>
			</li>
		</ul>
	</div>
</nav>