<nav class="z-depth-0">
	<div class="nav-wrapper">
		<a href="/" class="brand-logo white-text hide-on-small-only">
			<img class="left" src="assets/img/logo_2.png">
			<!--<i class="material-icons left white-text">wb_incandescent</i>-->
			Team Practice Videos
		</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li>
				<a href="https://www.facebook.com/penndhamaka" target="_blank">
					<i class="icon-facebook"></i>
				</a>
			</li>

			<li>
				<a href="https://www.youtube.com/user/penndhamaka" target="_blank">
					<i class="icon-youtube"></i>
				</a>
			</li>
			
			<li>
				<a href="/login" style="color: #0F1524;" (click)="logOut()">Log Out</a>
			</li>
		</ul>
	</div>
</nav>