audio {
    width: 100%;
    color: white;
}

nav {
	border-top: 1px solid #e0e0e0;
	background-color: white;
    height: 50px;
    line-height: 50px;
    bottom: 0;
    position: relative;
    width: auto !important;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 50px;
    line-height: 50px;
}

nav .button-collapse i {
    height: 50px;
    line-height: 50px;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 50px;
        line-height: 50px;
    }
}

i {
    padding-left: 10px;
}

.brand-logo {
    font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
