.row {
	height: 100vh;
	background: url('https://neuroflowlive.com/static/img/bg1_50.235e3b76d8f3cefe13ae56b6a1e154c7.png') no-repeat center center fixed;
	background-size: cover;
}

.card {
	top: 10%;
	padding-bottom: 70px;
}

img {
	width: 80%;
	margin-top: 40px;
}