<div class="row">
	<div class="col s1"></div>

	<div class="col s5 center-align">
		<img class="hoverable pointer" src="../uploads/thumbnails/{{currVidId | slice:0:-4}}-thumbnail-640x400-0001.png">
	</div>
	<div class="col s5 center-align">
		<img class="hoverable pointer" src="../uploads/thumbnails/{{currVidId | slice:0:-4}}-thumbnail-640x400-0002.png">
	</div>

	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>

	<div class="col s5 center-align">
		<img class="hoverable pointer" src="../uploads/thumbnails/{{currVidId | slice:0:-4}}-thumbnail-640x400-0003.png">
	</div>
	<div class="col s5 center-align">
		<img class="hoverable pointer" src="../uploads/thumbnails/{{currVidId | slice:0:-4}}-thumbnail-640x400-0004.png">
	</div>

	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>

	<div class="col s5 center-align">
		<img class="hoverable pointer" src="../uploads/thumbnails/{{currVidId | slice:0:-4}}-thumbnail-640x400-0005.png">
	</div>

	<div class="col s5 center-align">
		<img class="hoverable pointer" src="../uploads/thumbnails/{{currVidId | slice:0:-4}}-thumbnail-640x400-0006.png">
	</div>

	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>

	<div class="col s5 center-align">
		<img class="hoverable pointer" src="../uploads/thumbnails/{{currVidId | slice:0:-4}}-thumbnail-640x400-0007.png">
	</div>
	<div class="col s5 center-align">
		<img class="hoverable pointer" src="../uploads/thumbnails/{{currVidId | slice:0:-4}}-thumbnail-640x400-0008.png">
	</div>

	<div class="col s1"></div>
</div>

<div class="row">
	<div class="col s1"></div>

	<div class="col s5 center-align">
		<img class="hoverable pointer" src="../uploads/thumbnails/{{currVidId | slice:0:-4}}-thumbnail-640x400-0009.png">
	</div>
	<div class="col s5 center-align">
		<img class="hoverable pointer" src="../uploads/thumbnails/{{currVidId | slice:0:-4}}-thumbnail-640x400-0010.png">
	</div>

	<div class="col s1"></div>
</div>