<app-header></app-header>
<main>
	<div class="row">
		<div class="col xl3 l3 m4 s5 animated fadeIn" id="video-list-sidebar">
			<app-video-list></app-video-list>
		</div>
		<div class="col xl6 l6 m8 s7 animated fadeIn" id="video-and-comments-section">
			<div class="row">
				<ul class="tabs">
					<li class="tab col s4"><a class="main-color-text" href="#test2">Comments</a></li>
					<li class="tab col s4"><a class="active main-color-text" href="#test1">Video</a></li>
					<li class="tab col s4"><a class="main-color-text" href="#test3">Thumbnails</a></li>
				</ul>
			</div>

			<div class="row" id="test2">
				<app-comment-create></app-comment-create>
				<app-comment-list></app-comment-list>
			</div>
			<div class="row" id="test1">
				<app-video-iframe></app-video-iframe>
				<app-comment-create></app-comment-create>
				<app-comment-list></app-comment-list>
			</div>
			<div class="row" id="test3">
				<app-video-thumbnails></app-video-thumbnails>
			</div>
		</div>

		<div class="col xl3 l3 animated fadeIn hide-on-med-and-down" id="video-actions-section">
			<app-video-analytics></app-video-analytics>
			<div class="divider"></div>
			<br>
			<iframe style="padding-left: 11.250px; padding-right: 11.250px;" width="100%" height="270" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/308508982&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
		</div>
	</div>
</main>
<!--<app-footer class="hide-on-med-and-down"></app-footer>-->