<div *ngIf="comments !== undefined">
	<div class="row" style="padding-top: 15px; padding-bottom: 15px" *ngIf="comments.length == 0; else elseBlock">
		<div class="col s12 left-align" style="padding-left: 0">
			<div class="col s1 center-align">
				<img src='assets/img/anon_user.jpg' class="circle hoverable">
			</div>

			<div class="col s11" style="padding-left: 0">
				<b>Team Practice Videos © &nbsp; <font class="grey-text" style="font-weight: 300">just now</font></b>
				<p class="comment" (click)="timestampCheck($event)">
					What's up <font class="blue-text text-darken-2 light-blue lighten-5">@{{ this.user.split(' ').join('') }}</font>! Be the first to leave your teammates a comment, correction, or feedback on this video. You can type <font class='blue-text text-darken-2 light-blue lighten-5'>@</font> to choose people to tag, or type something like <font class='timestamp blue-text text-darken-2 pointer'>@0:03</font> to tag a timestamp in the video above. Also, we love you! 💕
				</p>
			</div>
		</div>
	</div>

	<div class="row comment-row" #elseBlock *ngFor="let comment of comments; let i = index">
		<div class="row right" id="comment-actions-{{i}}" style="margin-top: -40px; margin-bottom: 0px; padding-right: 25px; display: none;">
			<a href="#" id="reply-row-button-{{i}}" (click)="showReplyRow(i)">
				<div class="chip white secondary-color-text" style="border: 1px solid #D0D0D0;">
				<i class="icon-reply"></i>
				&nbsp;
				Reply
				</div>
			</a>
			<a href="#" (click)="onDeleteComment(comment._id)">
				<div class="chip white red-text" style="border: 1px solid #D0D0D0;" *ngIf="comment.author == user">
				<i class="icon-trash"></i>
				&nbsp;
				Delete
				</div>
			</a>
		</div>
		<div class="col s1 center-align">
			<img onerror="this.src='assets/img/anon_user.jpg'" class="circle hoverable" src="assets/img/{{ comment.author.split(' ').join('') }}.jpg">
		</div>

		<div class="col xl10 l11 m11 s11" on-mouseover="showCommentActions(i)" style="padding-left: 0;">
			<b>{{ comment.author }} &nbsp; <font class="grey-text" style="font-weight: 300">{{ comment.timestamp }}</font></b>
			<p class="comment" (click)="timestampCheck($event)" [innerHTML]="comment.content"></p>

			<div class="row grey-text comment-actions-row">
					<div [className]="comment.reactions.thumbs_up.includes(user) ? 'reaction reacted light-blue lighten-5' : 'reaction white'" (click)="clickedSize(comment._id, 'thumbs_up')">
						<font class="chee-grow">👍🏽</font>
						<font [className]="comment.reactions.thumbs_up.includes(user) ? 'reaction-count black-text' : 'reaction-count'">
							{{ comment.reactions.thumbs_up.length }}
						</font>
					</div>

					<div [className]="comment.reactions.heart.includes(user) ? 'reaction reacted light-blue lighten-5' : 'reaction white'" (click)="clickedSize(comment._id, 'heart')">
						<font class="chee-grow">💙</font>
						<font [className]="comment.reactions.heart.includes(user) ? 'reaction-count main-color-text' : 'reaction-count'">
							{{ comment.reactions.heart.length }}
						</font>
					</div>

					<div [className]="comment.reactions.laughing.includes(user) ? 'reaction reacted light-blue lighten-5' : 'reaction white'" (click)="clickedSize(comment._id, 'laughing')">
						<font class="chee-grow">😂</font>
						<font [className]="comment.reactions.laughing.includes(user) ? 'reaction-count main-color-text' : 'reaction-count'">
							{{ comment.reactions.laughing.length }}
						</font>
					</div>

					<div [className]="comment.reactions.eggplant.includes(user) ? 'reaction reacted light-blue lighten-5' : 'reaction white'" (click)="clickedSize(comment._id, 'eggplant')">
						<font class="chee-grow">🍆</font>
						<font [className]="comment.reactions.eggplant.includes(user) ? 'reaction-count main-color-text' : 'reaction-count'">
							{{ comment.reactions.eggplant.length }}
						</font>
					</div>

					<div [className]="comment.reactions.party.includes(user) ? 'reaction reacted light-blue lighten-5' : 'reaction white'" (click)="clickedSize(comment._id, 'party')">
						<font class="chee-grow">🎉</font>
						<font [className]="comment.reactions.party.includes(user) ? 'reaction-count main-color-text' : 'reaction-count'">
							{{ comment.reactions.party.length }}
						</font>
					</div>

					<!--
					<div class="reaction-no-emoji">
						<a href="#" class="secondary-color-text" id="reply-row-button-{{i}}" (click)="showReplyRow(i)">REPLY</a>
					</div>
					-->
			</div>

			<div class="row thread-row" *ngFor="let reply of comment.thread">
				<div class="col s1 center-align">
					<img class="circle hoverable" onerror="this.src='assets/img/anon_user.jpg'" src="assets/img/{{ reply.author.split(' ').join('') }}.jpg">
				</div>
				<div class="col s10" style="padding-left: 0">
					<b>{{ reply.author }} &nbsp; <font class="grey-text" style="font-weight: 300">{{ reply.timestamp }}</font></b>
					<p class="reply" (click)="timestampCheck($event)" [innerHTML]="reply.content"></p>
				</div>
				<div class="col s1"></div>
			</div>

			<div class="row reply-row" id="reply-row-{{i}}">
				<div class="col s1 center-align">
					<img class="circle hoverable reply-img" onerror="this.src='assets/img/anon_user.jpg'" src="assets/img/{{ user.split(' ').join('') }}.jpg">
				</div>
				<form (submit)="onAddReply(replyForm, comment._id)" autocomplete="off" #replyForm="ngForm"> 
					<div class="input-field col s11">
						<input id="myInput{{i}}" (keydown)="commentService.autocompleter($event,'myInput'+i)" class="autocomplete" type="text" autocomplete="off" placeholder="Reply..." ngModel name="content" [placeholder]="'@' + comment.author.split(' ').join('') + ' ...'" autofocus>
					</div>

					<div class="right-align col s12">
						<a id="cancelReplyBtn" class="btn red-text z-depth-0" (click)="hideReplyRow(i)">
							Cancel
						</a>
						<button type="submit" id="replyBtn" class="btn secondary-color-text z-depth-0">
							Reply
						</button>
					</div>
				</form>
			</div>
		<br>
		</div>
	</div>
	<div class="col s1"></div>
</div>