body {
    background: url(../img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    overflow: hidden;
}

h1 {
	font-family: 'Lato';
	font-weight: 700;
    font-size: 50px;
    margin-left: 20px;
}

#uploadBtn {
    width: 80px;
}
#cameraBtn {
    width: 90px;
}

#uploadBtn:active {
    width: 80px;
}
#cameraBtn:active {
    width:  90px;
}