body {
    background-color: white !important;
    width: 100vw;
    height: 100vh;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

h1 {
	font-family: 'Lato', serif;
	font-weight: 700;
    font-size: 50px;
    margin-left: 20px;
}

h6 {
	font-family: 'Lato', sans-serif;
    margin-left: 20px;
}

#uploadBtn {
    width: 90px;
}
#cameraBtn {
    width: 100px;
}

#uploadBtn:active {
    width: 80px;
}
#cameraBtn:active {
    width:  90px;
}